html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::-webkit-selection { background: $pale-red; color: black; text-shadow: none; }
::-moz-selection { background: $pale-red; color: black; text-shadow: none; }
::selection { background: $pale-red; color: black; text-shadow: none; }​

body, html {
	-webkit-backface-visibility: hidden;
	margin:0;
	padding:0;
}
table, button, select, input, textarea,
body {
	color:$black;
	font-family: $font-regular;
	font-size:rem($body-font-size);
	line-height: rem($body-line-height);
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

.default-btn {
	font-size:rem(17px);
	line-height:rem(24px);
	color:$red3;
	font-weight: bold;
	padding: rem(9px) rem(20px) rem(7px) rem(20px);
	background: $white;
	border:2px solid $white;

	&:hover {
		border-color:$pale-red;
	}
}
.page__bg {
	width:100%;
	position: fixed;
	height: 100%;
	z-index: 1;
}
.box__link {
	color: $red1;
	border-bottom:2px solid $red1;
	margin:rem(24px) 0;
	display: inline-block;
	transform: translate3d(0,0,0);
	text-decoration: none;
	transition:0.3s;
	&:hover {
		border-bottom:2px solid $red1;
		text-decoration: none;
		color: $red1;
		transform: translate3d(5px,0,0);
	}
	&:after {
		content:'->';
		margin-left:10px;
	}
}

.page-bg__item {
	width:50%;
	height: 50%;
	float: left;
	@include respond-to($desktop-s ) {
		width:50%;
		height: 49vw;
	}

	&:nth-of-type(4n){

		background: $red1;
	}
	&:nth-of-type(4n + 1){
		background: $red2;
	}
	&:nth-of-type(4n + 2){
		background: $red3;
	}
	&:nth-of-type(4n + 3){
		background: $red4;
	}
}
.container {
	position: relative;
	z-index: 2;
}

.main {
	position: relative;
	z-index: 2;
	padding: rem(100px) rem(20px);
	margin: 0 auto;

	@include respond-to($desktop-s ) {

		padding: rem(130px) rem(40px);
		max-width:rem(1024px);


		&.main--overview {
			padding-top:rem(100px);
		}
	}
}
.content {
	@include respond-to($desktop-s ) {
		max-width:rem(800px);
		margin: 0 auto;
	}

	&.content--bg-white {
		background: $white;
		max-width:none;
		padding:rem(20px);
		@include respond-to($desktop-s ) {
			padding: rem(30px);
		}
	}
}

.title,
.home__title {
	color: white;
	@include font-h1();
	font-weight: bold;
	margin-bottom: rem(40px);
}

.home-teaser__block {
	margin:rem(40px) auto;
	padding: rem(15px) rem(20px);
	background: rgba(255,255,255,0.9);

	@include respond-to($desktop-s ) {
		margin:rem(100px) auto;
		max-width:rem(800px);
		padding: rem(25px) rem(30px);
	}
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.15);
	@include clearfix();
}

.home-teaser__title {
	@include font-h3();
	margin-bottom:rem(20px);

	@include respond-to($desktop-s ) {
		margin-bottom:rem(30px);
	}
}
.lead {
	font-size:rem(24px);
	line-height: rem(28px);
	margin-bottom:rem(20px);
}
.home-teaser__text-img {
	float: left;
	border-radius: rem(300px);
	width: 300px;
	overflow: hidden;
	margin-right: rem(30px);
	margin-bottom: rem(30px);
}
.img--block {
	width: 100%;
	display: block;
}
.footer {
	position: relative;
	z-index: 3;
	padding: rem(10px) rem(15px);
	text-align: center;
}
.footer__logo {
	padding: rem(10px) rem(15px);
}
footer .container {
	text-align:center;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	color:#FFFFFF;
	padding:rem(48px) rem(20px);
}
.footer-logo__text {
	display: inline-block;;
	padding-top:rem(11px);
	height:rem(30px)
}
.footer__info {
	display: inline-block;
	margin:0 rem(20px);
}
.footer-info__item {
	display: inline-block;
	margin:0 rem(20px);
	letter-spacing:0.5px;
}

.detail__content {

	@include respond-to($phone-l ) {
		display: flex;
	}
}
.detail__img-block {
	max-width:rem(320px);
	margin: 0 auto rem(30px) auto;
	@include respond-to($phone-l ) {
		flex: 0 0 40%;
		margin-right:5%;
	}
}
.detail__text-block {

	@include respond-to($phone-l) {
		flex: 0 0 50%;
		margin-left:5%;
	}
}

.detail__title {
	@extend .home__title;
	margin-bottom: rem(26px);
	text-align:center;
	@include respond-to($phone-l) {
		text-align: left;
	}
}
.detail__preis {
	color: white;
	margin-top: rem(30px);
	@include font-h4();
	text-align:center;
	@include respond-to($phone-l) {
		text-align: left;
	}
}

.detail__button {
	background: $white;
	color:$red1;
	@include font-body();
	width: auto;
	display: block;
	border-radius: rem(30px);
	padding: 0 rem(20px);
	cursor: pointer;
	height:rem(40px);
	line-height: rem(40px);
	border:none;
	position: relative;
	/*transform: scale(1);*/
	transition: 0.3s;
	margin: rem(30px) auto;
	.fa {
		transform: translate3d(0,0,0);
		transition: transform 0.5s;
	}

	@include respond-to($phone-l) {
		text-align: left;
		display: inline-block;
		transform-origin: left;
	}

	&:hover,
	&:focus{
		background: $white;
		color:$red1;
		padding-right:rem(30px);
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
		/*transform: scale(1.2);*/
		.fa {
			transform: translate3d(60%,0,0);
		}

	}
}
.detail-button__icon {
	color:$red1;
	margin-left:rem(15px);
	font-size:rem(24px)
}
.detail__text {
	color:$white;
	font-weight: bold;
}
//button:focus{ outline: 1px solid $red1; }
.grid {
	display: flex;
	flex-wrap: wrap;
	@include respond-to($phone-l) {
		width:calc(100% + 10px);
		margin-left: rem(-10px);
	}
}
.grid__item {
	width: 100%;
	background: $white;
	margin: rem(16px);
	padding: rem(16px) rem(16px) rem(60px) rem(16px);
	position: relative;
	@include font-body();
	@include respond-to($phone-l) {
		flex:0 0 calc(50% - 20px);
		margin:rem(16px) rem(10px);
	}
	@include respond-to($desktop-s) {
		flex:0 0 calc(33.3% - 20px);
	}
}
.grid__header {
	position: absolute;
	top:rem(12px);
	left:rem(8px);
	transform:rotate(-5deg);
	padding: 0 rem(5px);
	background: rgba(226, 53, 53, 0.9);
	color:$white;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.grid__title {

	a {
		text-decoration: none;
		color:$red1;
		@include font-title();
	}
}
.grid__button {
	position: absolute;
	bottom:0;
	left:calc(100% - 90px);
}
.grid__preis {
	margin-top: rem(20px);
}
.grid__text {
	margin-top: rem(24px);
}
.img--circle-mask {
	border-radius: 50%;
	overflow: hidden;
	width: 100%;

}
.grid__img-box {
	max-width: rem(250px);
	max-height: rem(250px);
	overflow: hidden;
	margin: rem(4px) auto rem(20px) auto;
}
.grid__img {
	display: block;
	width: 100%;

}

.filternav {
	border-top:1px solid $white;
	border-bottom:1px solid $white;
	padding: rem(16px);
	margin-bottom:rem(16px);
}
.filternav__title {
	color:$white;
	margin-right:20px;
}
.filternav__item {
	margin-right:rem(25px);
	display: inline-block;
	color:$white;
	font-weight: bold;
	opacity: 0.8;
}
.filternav__item.checked {
	opacity: 1;
	&:before {
		content: "\f00c";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 14px;
		font-size: inherit;
		margin-right: rem(10px);
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.message-loader,
.alert-message {
	width:rem(200px);
	margin:rem(200px) auto;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	color:$white;
	@include font-h4();
}
.message-loader {
	background: url('../img/ajax-loader.gif') top right no-repeat;
}
.quantity__input {
	-webkit-appearance: none;
	margin: 0;
	appearance: none;
	-moz-appearance: textfield;
}
.checkout-content{
	background: $white;
	padding:rem(16px);
	@include clearfix();

	@include respond-to($desktop-s) {
		padding:rem(30px);
	}
	.product {
		@include clearfix();
		padding: rem(8px) rem(10px) rem(16px) 0;
		border-bottom:1px solid rgba(52,58,64,0.5);

	}
	.product-image {
		display: inline-block;
		float: left;
		/* the image height determines the height of the list item - in this case height = width */
		width: 50px;
		margin-top:0.5rem;
		img {
			display: block;
			width: 100%;
		}
	}

	.product-details {
		position: relative;
		display: inline-block;
		float: right;
		width: calc( 100% - 50px);
		padding: 0 0 0 1rem;
		@include clearfix();
	}

	.cd-product-title {
		width: 70%;
		float: left;
		/* truncate title with dots if too long */
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		a {
			color: $black;

			&:hover {
				color: $red1;
			}
		}
	}

	.price {
		float: right;
		width: 30%;
		text-align: right;
	}

	.actions {
		font-size: 1.4rem;
		line-height: 1.6rem;
		clear: both;
		padding-top: 10px;
	}

	.delete-item, .quantity {
		float: right;
		font-size: rem(20px);
		color: rgba(0,0,0,0.6);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&:hover {
			color: $red1;
			opacity:1;
		}
	}


	.checkout__bottom {
		margin-top: rem(10px);
		margin-bottom: rem(10px);
		padding-top:rem(20px);
		text-align: right;
	}
	.checkout {
		color:$white;
		background:$red1;
		padding:rem(10px) rem(20px);
		border-radius: rem(30px);
		text-decoration: none;
		font-weight: bold;
		transition: 0.3s;
		transform: scale(1);
		&:hover{
			box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
			transform: scale(1.2);
		}

		em {
			transform: translateX(0);
			transition: transform .2s .3s, padding .2s 0s;
			position: relative;
			display: inline-block;
		}

		&:hover em {
			padding-right: 30px;

			&::after {
				opacity: 1;
			}
		}

		em::after {
			position: absolute;
			@include center(y);
			right: 0;
			content: '';
			height: 24px;
			width: 24px;
			background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
			opacity: 0;
			transition: opacity .2s;
		}
	}
}
.checkout__login {
	color:$red1;
	background:$white;
	border:2px solid $red1;
	padding:rem(6px) rem(16px);
	border-radius: rem(30px);
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
	margin-right: rem(20px);

	&:hover{
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
	}
	em {
		transform: translateX(0);
		transition: transform .2s .3s, padding .2s 0s;
		position: relative;
		display: inline-block;
	}

	&:hover em {
		padding-right: 30px;

		&::after {
			opacity: 1;
		}
	}
	em::after {
		position: absolute;
		@include center(y);
		right: 0;
		content: '';
		height: 24px;
		width: 24px;
		background: url(../img/cd-icon-arrow-next-red.svg) no-repeat center center;
		opacity: 0;
		transition: opacity .2s;
	}
}

.icon__cart-plus {
	color: $white;
	border: 0;
	border-radius: rem(30px);
	background: $red1;
	padding: 0 rem(10px);
	margin:rem(24px) 0;
	font-size:rem(22px);
	cursor: pointer;
	transition: 0.3s;

	.fa {
		transform: translate3d(0,0,0);
		transition: transform 0.5s;
		color: $white;
		display: block;
		height:rem(40px);
		width:rem(40px);
		line-height: rem(40px);
	}

	&:after {
		position: absolute;
		@include center(y);
		left: 15px;
		content: '';
		height: 20px;
		width: 20px;
		background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
		opacity: 0;

		transition: opacity .3s 0s;
	}
	&:hover,
	&:focus{
		padding-right:rem(30px);
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
		/*transform: scale(1.2);*/
		.fa {
			transform: translate3d(60%,0,0);
		}

		&:after {
			opacity: 1;
			transition: opacity .3s .1s;
		}

	}
}

.home__cart-plus {
	color: white;
	float:right;
	cursor: pointer;
	position: absolute;
	left:calc(100% - 70px);
	top:0;
	.fa-cart-plus {
		text-align: center;
	}
}
.home-teaser__footer {
	position:relative;
}

.content__row {
	display: flex;
	margin-bottom:rem(20px);
	padding-bottom:rem(20px);
	border-bottom:1px solid $red1;
	width: 100%;
}
.content__img-col {
	flex: 0 0 30%;

}
.content__text-col {
	flex: 0 0 70%;
	padding-left:rem(20px)
}