html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
::-webkit-selection { background: $pale-red; color: black; text-shadow: none; }
::-moz-selection { background: $pale-red; color: black; text-shadow: none; }
::selection { background: $pale-red; color: black; text-shadow: none; }​

body, html {
	-webkit-backface-visibility: hidden;
	margin:0;
	padding:0;
}
table, button, select, input, textarea,
body {
	color:$black;
	font-family: $font-regular;
	font-size:rem($body-font-size);
	line-height: rem($body-line-height);
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

.default-btn {
	font-size:rem(17px);
	line-height:rem(24px);
	color:$red3;
	font-weight: bold;
	padding: rem(9px) rem(20px) rem(7px) rem(20px);
	background: $white;
	border:2px solid $white;

	&:hover {
		border-color:$pale-red;
	}
}
.page__bg {
	width:100%;
	position: fixed;
	height: 100%;
	z-index: 1;
}
.link--inline {
	color: $red1;
	transition: all .3s;
	display: inline-block;
	position: relative;
	text-decoration:none;
	border-bottom:1px solid $red1;

	&:hover:before {
		width: 100%;
	}
	&:before {
		position: absolute;
		bottom: -3px;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '';
		color: transparent;
		background: $red1;
		height: 1px;
		transition: all .3s;
		pointer-events: none;
	}
}
.box__link {
	color: $red1;
	margin:rem(24px) 0;
	display: inline-block;
	transform: translate3d(0,0,0);
	text-decoration: none;
	transition: all .3s;

	&:before {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '';
		color: transparent;
		background: $red1;
		height: 1px;
		transition: all .3s;
		pointer-events: none;
	}

	&:hover:before {
		width: 100%;
	}
	&:after {
		content:'->';
		margin-left:10px;
	}
}

.page-bg__item {
	width:50%;
	height: 50%;
	float: left;
	@include respond-to($desktop-s ) {
		width:50%;
		height: 49vw;
	}

	&:nth-of-type(4n){

		background: $red1;
	}
	&:nth-of-type(4n + 1){
		background: $red2;
	}
	&:nth-of-type(4n + 2){
		background: $red3;
	}
	&:nth-of-type(4n + 3){
		background: $red4;
	}
}
.container {
	position: relative;
	z-index: 2;
}

.main {
	position: relative;
	z-index: 2;
	padding: rem(100px) rem(20px);
	margin: 0 auto;

	@include respond-to($desktop-s ) {

		padding: rem(130px) rem(40px);
		max-width:rem(1024px);


		&.main--overview {
			padding-top:rem(100px);
		}
	}
}
.content {
	@include respond-to($desktop-s ) {
		max-width:rem(800px);
		margin: 0 auto;
	}

	&.content--bg-white {
		background: $white;
		max-width:none;
		padding:rem(20px);
		@include respond-to($desktop-s ) {
			padding: rem(30px);
		}
	}
	&.content--bg-green {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
		max-width:none;
		padding:rem(20px);
		@include respond-to($desktop-s ) {
			padding: rem(30px);
		}
	}
	&.content--bg-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
		max-width:none;
		padding:rem(20px);
		@include respond-to($desktop-s ) {
			padding: rem(20px) rem(30px);
			margin-bottom: rem(30px);
		}
	}
	&.content--bg-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    max-width:none;
		padding:rem(20px);
		@include respond-to($desktop-s ) {
			padding: rem(20px) rem(30px);
			margin-bottom: rem(30px);
		}
	}
}
.box--bg-error {
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
	padding:rem(20px);
	@include respond-to($desktop-s ) {
		padding: rem(20px) rem(30px);
	}
}
.box--bg-green {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	max-width:none;
	padding:rem(20px);
	@include respond-to($desktop-s ) {
		padding: rem(30px);
	}
}

.title,
.home__title {
	color: white;
	@include font-h1();
	font-weight: bold;
	margin-bottom: rem(40px);
}

.home-teaser__block {
	margin:rem(40px) auto;
	padding: rem(15px) rem(20px);
	background: rgba(255,255,255,0.9);

	@include respond-to($desktop-s ) {
		margin:rem(100px) auto;
		max-width:rem(800px);
		padding: rem(25px) rem(30px);
	}
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.15);
	@include clearfix();
}

.home-teaser__title {
	@include font-h3();
	margin-bottom:rem(20px);

	@include respond-to($desktop-s ) {
		margin-bottom:rem(30px);
	}
}
.subtitle {
	@include font-title();
	margin-bottom:rem(20px);

	@include respond-to($desktop-s ) {
		margin-bottom:rem(30px);
	}
}
.order-success {
	@include font-h3();
	color:$red1;
	text-align: center;
}
.order-success__title {
	margin-bottom: rem(20px);
}
.order-success__img {
	max-width: rem(500px);
}

.lead {
	font-size:rem(24px);
	line-height: rem(28px);
	margin-bottom:rem(20px);
}
.home-teaser__text-img {
	float: left;
	border-radius: rem(300px);
	width: 300px;
	overflow: hidden;
	margin-right: rem(30px);
	margin-bottom: rem(30px);
}
.img--block {
	width: 100%;
	display: block;
}
.footer {
	position: relative;
	z-index: 3;
	padding: rem(10px) rem(15px);
	text-align: center;
}
.footer__logo {
	padding: rem(10px) rem(15px);
}
footer .container {
	text-align:center;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	color:#FFFFFF;
	padding:rem(48px) rem(20px);
}
.footer-logo__text {
	display: inline-block;;
	padding-top:rem(11px);
	height:rem(30px)
}
.footer__info {
	display: inline-block;
	margin:0 rem(20px);
}
.footer-info__item {
	display: inline-block;
	margin:0 rem(20px);
	letter-spacing:0.5px;
}
.featured {
	position: absolute;
	top:rem(12px);
	left:rem(8px);
	transform:rotate(-5deg);
	padding: 0 rem(5px);
	background: rgba(226, 53, 53, 0.9);
	color:$white;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}
.featured__icon {
	vertical-align: middle;
	display: inline-block;
	width: 24px;
	height:24px;

	img {
		width: 16px;
		height: 16px;
		display: inline-block;
		animation:spin 5s linear infinite;
	}
}
@keyframes spin {

	80% {
		transform:rotate(0);
	}
	100% {
		transform:rotate(360deg);
	}
}

.detail__content {
	background: $white;
	max-width:none;
	padding:rem(20px);
	position: relative;
	@include respond-to($desktop-s ) {
		padding: rem(30px);
		.featured {
			top:rem(20px);
			left:rem(20px);
		}

	}

	@include respond-to($phone-l ) {
		display: flex;
	}
}

.detail__img-block {
	max-width:rem(320px);
	margin: 0 auto rem(30px) auto;
	@include respond-to($phone-l ) {
		flex: 0 0 40%;
		margin-right:5%;
	}
}
.detail__text-block {
	@include respond-to($phone-l) {
		flex: 0 0 50%;
		margin-left:5%;
	}
}


.detail__preis {
	margin-top: rem(30px);
	@include font-body();
	text-align:center;
	@include respond-to($phone-l) {
		text-align: left;
	}
}

.detail__button {
	background: $red1;
	color:$white;
	@include font-body();
	width: auto;
	display: block;
	border-radius: rem(30px);
	padding: 0 rem(20px);
	cursor: pointer;
	height:rem(40px);
	line-height: rem(40px);
	border:none;
	position: relative;
	/*transform: scale(1);*/
	transition: 0.3s;
	margin: rem(30px) auto;

	@include respond-to($phone-l) {
		text-align: left;
		display: inline-block;
		transform-origin: left;
	}

	&:hover,
	&:focus{
		//padding-right:rem(30px);
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
	}
	em {
		transform: translateX(0);
		transition: transform .2s .3s, padding .2s 0s;
		position: relative;
		display: inline-block;
	}

	&:hover em {
		padding-right: 30px;

		&::after {
			opacity: 1;
		}
	}

	em::after {
		position: absolute;
		@include center(y);
		right: 0;
		content: '';
		height: 24px;
		width: 24px;
		background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
		opacity: 0;
		transition: opacity .2s;
	}

}
.detail-button__icon {
	color:$white;
	margin-left:rem(8px);
	font-size:rem(24px)
}

//button:focus{ outline: 1px solid $red1; }
.grid {
	display: flex;
	flex-wrap: wrap;
	@include respond-to($phone-l) {
		width:calc(100% + 10px);
		margin-left: rem(-10px);
	}
}
.grid__item {
	width: 100%;
	background: $white;
	margin: rem(16px);
	padding: rem(16px) rem(16px) rem(60px) rem(16px);
	position: relative;
	@include font-body();
	@include respond-to($phone-l) {
		flex:0 0 calc(50% - 20px);
		margin:rem(16px) rem(10px);
	}
	@include respond-to($desktop-s) {
		flex:0 0 calc(33.3% - 20px);
	}
}
.grid__header {
	position: absolute;
	top:rem(12px);
	left:rem(8px);
	transform:rotate(-5deg);
	padding: 0 rem(5px);
	background: rgba(226, 53, 53, 0.9);
	color:$white;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

.grid__title {

	a {
		text-decoration: none;
		color:$red1;
		@include font-title();
	}
}
.grid__button {
	position: absolute;
	bottom:0;
	left:calc(100% - 90px);
}
.grid__preis {
	margin-top: rem(20px);
}
.grid__text {
	margin-top: rem(24px);
}
.img--circle-mask {
	border-radius: 50%;
	overflow: hidden;
	width: 100%;

}
.grid__img-box {
	max-width: rem(250px);
	max-height: rem(250px);
	overflow: hidden;
	margin: rem(4px) auto rem(20px) auto;
}
.grid__img {
	display: block;
	width: 100%;

}

.filternav {
	border-top:1px solid $white;
	border-bottom:1px solid $white;
	padding: rem(16px);
	margin-bottom:rem(16px);
}
.filternav__title {
	color:$white;
	margin-right:20px;
}
.filternav__item {
	margin-right:rem(25px);
	display: inline-block;
	color:$white;
	font-weight: bold;
	position: relative;
text-decoration: none;
	padding:  0 rem(5px);
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 0%;
		content: '';
		color: transparent;
		background: $white;
		height: 1px;
		transition: all .3s;
		pointer-events: none;
		opacity: 1;
	}

	&:hover:after {
		width: 100%;
	}
}
.filternav__item.checked {
	opacity: 1;
	&:before {
		content: "\f00c";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 14px;
		font-size: inherit;
		margin-right: rem(10px);
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

.message-loader,
.alert-message {
	width:rem(200px);
	margin:rem(200px) auto;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	color:$white;
	@include font-h4();
}
.message-loader {
	background: url('../img/ajax-loader.gif') top right no-repeat;
}
.quantity__input {
	-webkit-appearance: none;
	margin: 0;
	appearance: none;
	-moz-appearance: textfield;
}
.shipping {
	padding: rem(16px) rem(10px) rem(16px) rem(10px);
	border-bottom:1px solid rgba(52,58,64,0.5);
}
.checkout-content{
	background: $white;
	padding:rem(16px);
	@include clearfix();
	margin-bottom:rem(16px);
	@include respond-to($desktop-s) {
		padding:rem(30px);
		margin-bottom:rem(30px);
	}
	.product {
		@include clearfix();
		padding: rem(8px) rem(10px) rem(16px) 0;
		border-bottom:1px solid rgba(52,58,64,0.5);

	}
	.product-image {
		display: inline-block;
		float: left;
		/* the image height determines the height of the list item - in this case height = width */
		width: 100px;
		margin-top:0.5rem;
		img {
			display: block;
			width: 100%;
		}
	}

	.product-details {
		position: relative;
		display: inline-block;
		float: right;
		width: calc( 100% - 100px);
		padding: 0 0 0 1rem;
		@include clearfix();
	}

	.cd-product-title {
		width: 70%;
		float: left;
		/* truncate title with dots if too long */
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;


	}

	.price {
		float: right;
		width: 30%;
		text-align: right;
	}

	.actions {
		font-size: 1.4rem;
		line-height: 1.6rem;
		clear: both;
		padding-top: 10px;
	}

	.delete-item, .quantity {
		float: right;
		font-size: rem(20px);
		color: rgba(0,0,0,0.6);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&:hover {
			color: $red1;
			opacity:1;
		}
	}



	.checkout {
		color:$white;
		background:$red1;
		padding:rem(10px) rem(20px);
		border-radius: rem(30px);
		text-decoration: none;
		font-weight: bold;
		transition: 0.3s;
		transform: scale(1);
		&:hover{
			box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
			transform: scale(1.2);
			color:$white;
		}

		em {
			transform: translateX(0);
			transition: transform .2s .3s, padding .2s 0s;
			position: relative;
			display: inline-block;
			color:$white;
		}

		&:hover em {
			padding-right: 30px;
			color:$white;

			&::after {
				opacity: 1;
			}
		}

		em::after {
			position: absolute;
			@include center(y);
			right: 0;
			content: '';
			height: 24px;
			width: 24px;
			background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
			opacity: 0;
			transition: opacity .2s;
		}
	}
}

.cd-product-title {
	a {
		color: $black;
		display: inline-block;
		transition:0.3s;

		&:hover {
			color: $red1;
			transform: translate3d(5px,0,0);
		}
	}
}
.checkout__bottom {
	margin-top: rem(10px);
	margin-bottom: rem(10px);
	padding-top:rem(20px);
	text-align: right;
	.order-form & {
		text-align: left;
	}
}
.btn-white {
	margin-bottom: rem(20px);
	display: inline-block;
}
.btn-white,
.checkout__login {
	color:$red1;
	background:$white;
	border:2px solid $red1;
	padding:rem(6px) rem(16px);
	border-radius: rem(30px);
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
	margin-right: rem(20px);

	&:hover{
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
	}
	em {
		transform: translateX(0);
		transition: transform .2s .3s, padding .2s 0s;
		position: relative;
		display: inline-block;
	}

	&:hover em {
		padding-right: 30px;

		&::after {
			opacity: 1;
		}
	}
	em::after {
		position: absolute;
		@include center(y);
		right: 0;
		content: '';
		height: 24px;
		width: 24px;
		background: url(../img/cd-icon-arrow-next-red.svg) no-repeat center center;
		opacity: 0;
		transition: opacity .2s;
	}
}

.icon__cart-plus {
	color: $white;
	border: 0;
	border-radius: rem(30px);
	background: $red1;
	padding: 0 rem(10px);
	margin:rem(24px) 0;
	font-size:rem(22px);
	cursor: pointer;
	transition: 0.3s;

	.fa {
		transform: translate3d(0,0,0);
		transition: transform 0.5s;
		color: $white;
		display: block;
		height:rem(40px);
		width:rem(40px);
		line-height: rem(40px);
	}

	&:after {
		position: absolute;
		@include center(y);
		left: 15px;
		content: '';
		height: 20px;
		width: 20px;
		background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
		opacity: 0;
		transition: opacity .3s 0s;
	}
	&:hover,
	&:focus{
		padding-right:rem(30px);
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
		/*transform: scale(1.2);*/
		.fa {
			transform: translate3d(60%,0,0);
		}

		&:after {
			opacity: 1;
			transition: opacity .3s .1s;
		}
	}
}

.home__cart-plus {
	color: white;
	float:right;
	cursor: pointer;
	position: absolute;
	left:calc(100% - 90px);
	top:0;
	.fa-cart-plus {
		text-align: center;
	}
}
.home-teaser__footer {
	position:relative;
}

.content__row {
	display: flex;
	margin-bottom:rem(20px);
	padding-bottom:rem(20px);
	border-bottom:1px solid $red1;
	width: 100%;
}
.content__img-col {
	flex: 0 0 30%;

}
.content__text-col {
	flex: 0 0 calc(70% - 40px);
	padding-left:rem(20px)
}

.order-total {
	text-align: right;
	padding:rem(16px) rem(10px);
	@include font-h4();

}
.input-checkout-btn-wrap {
	display: inline-block;
	border:0;
	color:$white;
	background:$red1;
	line-height: rem(21px);
	border-radius: rem(30px);
	text-decoration: none;
	font-weight: bold;
	transition:0.3s;
	position: relative;
	cursor: pointer;
	&:after {
		transform: translateX(0);
		right: 15px;
		top:8px;
		display: inline-block;
		position: absolute;
		@include center(y);
		content: '';
		height: 24px;
		width: 24px;
		background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
		opacity: 0;
		transition: opacity .3s 0s;
		z-index: 2;
	}
	&:hover {
		&::after {
			opacity: 1;
			transition: opacity .3s .1s;
		}
		.input-checkout-btn {
			padding-right: 50px;
		}
	}
	.input-checkout-btn {
		color:$white;
		line-height: rem(21px);
		background:transparent;
		padding:rem(10px) rem(20px);
		text-decoration: none;
		font-weight: bold;
		transform: none;
		appearance: none;
		border: 0;
		transition:0.3s;

	}
}
.submit-btn,
.checkout-btn {
	border:0;
	color:$white;
	background:$red1;
	padding:rem(10px) rem(20px);
	line-height: rem(21px);
	border-radius: rem(30px);
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
	//transform: scale(1);
	cursor: pointer;
	&:hover{
		box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.3);
		color:$white;
	}

	em {
		color:$white;
		transform: translateX(0);
		transition: transform .2s .3s, padding .2s 0s;
		position: relative;
		display: inline-block;
	}

	&:hover em {
		padding-right: 30px;

		&::after {
			opacity: 1;
		}
	}

	em::after {
		position: absolute;
		@include center(y);
		right: 0;
		content: '';
		height: 24px;
		width: 24px;
		background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
		opacity: 0;
		transition: opacity .2s;
	}
	&:disabled {
		background: #dddddd;
		&:hover {
			transform: none;
			box-shadow:none;
		}

	}
}
.required {
	color:$black;
}
.notice {
	margin-bottom: rem(24px);
}
.input--text {
	width: 100%;
	border:1px solid rgba(52,58,64,0.5);

	@include respond-to($desktop-s) {
		max-width:rem(300px);

		.admin & {
			max-width:none;
		}
	}

	&.input--error {
		border:1px solid $red1;
	}
}
.textarea {
	width: 100%;
	border:1px solid rgba(52,58,64,0.5);
	padding: rem(5px);
	@include respond-to($desktop-s) {
		max-width:rem(300px);

		.admin & {
			max-width:none;
		}
	}
	&.input--error {
		border:1px solid $red1;
	}
}
.input--text-sml {
	width: 48%;
	border:1px solid rgba(52,58,64,0.5);
}
.order-form {
	label {
		display: flex;
		margin: rem(15px) 0;
		@include respond-to($desktop-s) {
			max-width:rem(400px);

			.admin & {
				max-width:none;
			}
		}
	}
	.label-text {
		flex-basis: 30%;
		flex-shrink: 0;
		flex-grow: 0;
		.admin & {
			flex-basis: 20%;
		}
	}
	.form__row {
		display: flex;
	}
	.input--text {
		padding: rem(2px) rem(5px);
	}
	filedset {
		margin-bottom:rem(40px);
		display: block;
	}

}
.flex-row {
	display: flex;
	justify-content: space-between;
}

.input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill  {
	background-color: rgba(145,213,89,0.3);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px rgba(95,255,29,0.05) inset;
	transition: background-color 5000s ease-in-out 0s;
}
.admin {
	&:after {
		content:'';
		position:fixed;
		top: 0;
		bottom:0;
		left:0;
		right:0;
		background:#87BE5A;
		background: rgba(0,255,0,0.6);
		z-index: -1;
	}
	.checkout-btn {
		margin-top: rem(20px);
	}
	.input-checkout-btn-wrap {
		margin-bottom: rem(20px);
	}
}
.mgL {
	margin-left: rem(20px);
}
.edit-actions {
	border-top:1px solid rgba(52,58,64,0.5);
	margin-top: rem(20px);
	padding-top: rem(20px);
}
.imgpreview {
	width: rem(200px);

	display: block;
	margin-bottom:rem(15px);

	img {
		width: 100%;
		display: block;
	}
}
