.header {
	height:60px;
	background:white;
	position:fixed;
	z-index: 100;
	width: 100%;
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.15);
}

.header__logo {
	position:absolute;
	left: 0;
	top: 0;
	padding: 10px 15px;
	width: 100%;
	text-align: center;
}
.header-logo__img {
	height:40px;
	display: block;
	position:absolute;
}
.header-logo__text {
	display: inline-block;;
	padding-top:11px;
	height:30px
}
.header__nav {
	position: absolute;
	top: 0;
	right:0;
}

.hamburger
{
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
	height: 40px;
	width:40px;
	z-index: 1;
	padding-top:10px;
	-webkit-user-select: none;
	user-select: none;
}

.hamburger__trigger
{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: -3px;
	right: -3px;
	cursor: pointer;

	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */

	-webkit-touch-callout: none;
}


/*
 * Just a quick hamburger
 */
.hamburger__bar1,
.hamburger__bar2
{
	display: block;
	width: 32px;
	height: 4px;
	margin-bottom: 8px;
	margin-left:4px;
	position: relative;

	background: $white;
	border-radius: 3px;
	z-index: 1;
}
.open .hamburger__bar1
{
	transform: rotate(45deg) translate(5px, 3px);
}
.open .hamburger__bar2
{
	transform: rotate(-45deg) translate(5px, -3px);
}
.collasped .hamburger__bar1{
	transform: rotate(0) translate(0, 0);
}

.collasped .hamburger__bar2 {
	transform: rotate(0) translate(0, 0);
}

.menu--open.menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;

	background:white;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.menu {
	text-align: right;
}
.menu__item {
	display: inline-block;
}
.menu-item__link {
	font-family: "bariol_serifregular", Arial, sans-serif;
	font-size: 16px;
	line-height: 60px;
}
