
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.15);
	background:rgba(52,58,64,0.95);

	@include respond-to($desktop-s ) {
		padding: 0.5rem rem(40px);
	}
}

.navbar > .container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.navbar a {
	color: #FFF;
	text-decoration: none;
	transition: 0.3s;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;

}

.navbar-brand:focus, .navbar-brand:hover {
	text-decoration: none;
}

.navbar-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	margin-left: auto;
	list-style: none;
}

.nav-link {
	padding-top: rem(8px);
	padding-bottom: rem(8px);
	display: inline-block;

	a {
		transition: 0.3s;
	}
}

.nav-item.active .nav-link,
.nav-link:hover {
	color: $red1;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	text-decoration: none;
	transition: 0.3s;
	text-transform: uppercase;

	@include respond-to($desktop-s ) {
		text-transform: none;
		transform: translate3d(0, -3px, 0);
	}
}
.nav-item.active .user-item__link,
.user-item__link:hover {
	color: $red1;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	text-decoration: none;
	transition: 0.3s;
	text-transform: uppercase;
	padding-left: 0;

	@include respond-to($desktop-s ) {
		text-transform: none;
		transform: translate3d(5px, 0, 0);
	}
}

.navbar-collapse.show {
	.nav-item {
		border-top:1px solid $red1;

		@include respond-to($desktop-s ) {
			border-top:0;
		}
	}
	.navbar-nav  {
		margin-top: rem(10px);
		@include respond-to($desktop-s ) {
			margin-top:0;
		}
	}
}

.navbar {
	.nav-item.user-profile {
		display: flex;
	}

	.user__item {
		border-bottom:1px solid $red1;
		display: block;
		&:last-of-type {
			border-bottom:0;
		}
	}
	.user-profile__name {
		@include respond-to($desktop-s ) {
			font-size: rem(12px);
		}
	}
	.user-item__link {
		padding: rem(8px) 0;
		display: inline-block;
		width: 100%;

		@include respond-to($desktop-s ) {
			width: auto;
			font-size: rem(12px);
			padding: rem(4px) 0;
		}
	}
	.user-profile__img {
		vertical-align: middle;
		margin: rem(15px) rem(15px) 0 0;
		@include respond-to($desktop-s ) {
			margin: rem(8px) 0 0 rem(8px);
			float: none;
		}
	}
	.nav-item__user {
		width: 100%;
		@include respond-to($desktop-s ) {
			width: auto;
			position: absolute;
			top:rem(55px);
			padding: 0 rem(10px);
			right:rem(-20px);
			box-shadow: 0 6px 4px 0 rgba(0,0,0,0.15);
			background:rgba(52,58,64,0.95);

			&:before {
				content: '';
				position: absolute;
				top: -10px;
				right:20px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent rgba(52,58,64,0.95) transparent;
			}
		}
	}
}

.collapse {
	display: none;
}

.collapse.show {
	display: block;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
}


.navbar-toggler {
	background: transparent;
	position: absolute;
	top:rem(-8px);
	right: 0;
	border: none;
	padding: rem(16px) rem(16px) rem(8px) rem(12px);
	margin:0 rem(-16px) 0 0;
	cursor: pointer;
}
@include respond-to($desktop-s ) {

	.navbar {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.navbar .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar .navbar-nav .dropdown-menu {
		position: absolute;
	}
	.navbar .navbar-nav .dropdown-menu-right {
		right: 0;
		left: auto;
	}
	.navbar .navbar-nav .nav-link {
		line-height: rem(24px);
		padding:rem(8px);
	}
	.navbar > .container {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.navbar .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar .navbar-toggler {
		display: none;
	}
	.navbar .dropup .dropdown-menu {
		top: auto;
		bottom: 100%;
	}
}
