
.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	box-shadow: 0 6px 4px 0 rgba(0,0,0,0.15);
	background:rgba(52,58,64,0.95);

	@include respond-to($desktop-s ) {
		padding: 0.5rem rem(40px);
	}
}

.navbar > .container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.navbar a {
	color: #FFF;
	text-decoration: none;
	transition: 0.3s;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;

}

.navbar-brand:focus, .navbar-brand:hover {
	text-decoration: none;
}

.navbar-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	margin-left: auto;
	list-style: none;
}

.nav-link {
	padding-top: rem(8px);
	padding-bottom: rem(8px);
	display: inline-block;
}
.navbar a:hover {
	color: $red1;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	text-decoration: none;
	text-transform: uppercase;
}
.nav-item.active .nav-link {
	color:$red;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
	text-transform: uppercase;
}
.navbar-collapse.show {
	.nav-item {
		border-top:1px solid $red1;

		@include respond-to($desktop-s ) {
			border-top:0;
		}
	}
	.navbar-nav  {
		margin-top: rem(10px);
		@include respond-to($desktop-s ) {
			margin-top:0;
		}
	}
}

.navbar__user {
	border-top:1px solid $red1;


	@include respond-to($desktop-s ) {
		border-top:0;
	}
	.btn-login,
	.btn-logout {
		color:$white;
		line-height:rem(24px);
		font-size:rem(16px);
		background: transparent;
		border: none;
		box-shadow: none;
		padding: rem(8px) 0;


		&:hover {
			color:$red;
			text-shadow: 0 1px 4px rgba(0, 0, 0, 1);
			text-transform: uppercase;
		}
	}
	.btn-logout {
		@include respond-to($desktop-s ) {
			padding-left: 0;
		}
	}
	.user-profile__name {
		@include respond-to($desktop-s ) {
			font-size: rem(12px);
		}
	}
	.user-profile__img {
		margin:0 rem(10px) 0 0;
		vertical-align: middle;
	}
}

.collapse {
	display: none;
}

.collapse.show {
	display: block;
}

.navbar-nav .dropdown-menu {
	position: static;
	float: none;
}

.navbar-text {
	display: inline-block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-collapse {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
}


.navbar-toggler {
	background: transparent;
	position: absolute;
	top:rem(-8px);
	right: 0;
	border: none;
	padding: rem(16px) rem(16px) rem(8px) rem(12px);
	margin:0 rem(-16px) 0 0;
	cursor: pointer;
}
@include respond-to($desktop-s ) {

	.navbar {
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.navbar .navbar-nav {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.navbar .navbar-nav .dropdown-menu {
		position: absolute;
	}
	.navbar .navbar-nav .dropdown-menu-right {
		right: 0;
		left: auto;
	}
	.navbar .navbar-nav .nav-link {
		line-height: rem(24px);
		padding:rem(8px);
	}
	.navbar > .container {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.navbar .navbar-collapse {
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.navbar .navbar-toggler {
		display: none;
	}
	.navbar .dropup .dropdown-menu {
		top: auto;
		bottom: 100%;
	}
}
