<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
    <!-- Place favicon.ico in the root directory
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/shop-bootstrap.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="page__bg">
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
    <div class="page-bg__item"></div>
</div>
<header class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">MIYA JAPAN TEE</a>
        <button class="navbar-toggler">
            <span class="hamburger__bar1"></span>
            <span class="hamburger__bar2"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Tee</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Nierenwärmer</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Rezept</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Kontakt</a></li>
            </ul>
        </div>
    </div>
</header>


<main class="main main--home" role="main">
    <div class="content  content--bg-white">
        <div data-reactid=".0.2.0" class="box--bg-green"><span data-reactid=".0.2.0.0">Produkt </span><span data-reactid=".0.2.0.1">2sdf</span><span data-reactid=".0.2.0.2"> wurde gelöscht!</span></div>
    </div>
</main>
<footer class="footer">
    <div class="container">
        <ul class="footer__info text-center text-white">
            <li class="footer-info__item">MIYA JAPAN TEE</li>
            <li class="footer-info__item">Döltschihalde 19, CH-8055 Zürich</li>
            <li class="footer-info__item">tel: +41.44.463.10.93</li>
            <li class="footer-info__item"><a href="mailto:mail@miya.ch">Email: mail@miya.ch</a></li>
        </ul>
    </div>
</footer>
<div class="shoppingcart" role="dialog">
    <h2>Warenkorb</h2>
    <p>Ihre Warenkorb ist Leer</p>
</div>
</body>
</html>
