<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
        <!-- Place favicon.ico in the root directory -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/shop-bootstrap.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              type="text/css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
    <div class="page__bg">
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
        <div class="page-bg__item"></div>
    </div>

    <header class="header" role="banner">
        <div class="header__logo"><a href="/">
            <img class="header-logo__img" src="../img/miya-japan-tee-logo.jpg" alt="Miya Japan Tee Logo">
            <img class="header-logo__text" src="../img/miya-japan-tee-logo-text.svg" alt="Miya Japan Tee Logo"></a></div>
        <nav class="header__nav">
            <div class="hamburger">
                <input type="checkbox" class="hamburger__trigger" role="link"/>
                <span class="hamburger__bar1"></span>
                <span class="hamburger__bar2"></span>

            </div>
            <ul class="menu">
                <li class="menu__item"><a href="#" class="menu-item__link">Home</a></li>
                <li class="menu__item"><a href="#" class="menu-item__link">Tee</a></li>
                <li class="menu__item"><a href="#" class="menu-item__link">Nierenwärmer</a></li>
                <li class="menu__item"><a href="#" class="menu-item__link">Rezept</a></li>
                <li class="menu__item"><a href="#" class="menu-item__link">Kontakt</a></li>
            </ul>
        </nav>
    </header>

    <main class="main main--home" role="main">
        <div class="content">
        <h1 class="home__title">Tee ist wie Wein<br>Tee ist Geschmacksache<br>ich bin gespannt, ob meine Geschmack Ihnen zusagt oder ...</h1>
        </div>
        <article class="home-teaser__block">
            <h2 class="home-teaser__title">Sind Sie Grüntee Anfängerin? </h2>
            <div class="home-teaser__text-img"><img class="img--block" src="../img/tee/gemmacha-mit-maccha.jpg" alt="Foto Gemmaicha mit Maccha"/></div>
            <div class="home-teaser__text-block">
            <p class="lead">Dann werde ich ihnen "Gemmaicha mit Maccha" Tee emphelen. </p>
            <p>Gar nicht bitter und dank der gerösteter Volkornreiskörner sehr knussplig wie Popkorn. Mit Maccha verschwächen sie nicht Grüntee Geschmack. Der Teewasser ist ganz schöne Grun. Als ich kind war, habe ich nur diesen Tee gerne gehabt. </p>
            </div>
        </article>
        <article class="home-teaser__block">
            <h2 class="home-teaser__title">Für Sie muss Grüntee "Bio" sein, aber muss er auch gut Schmecken? </h2>
            <div class="home-teaser__text-img"><img class="img--block" src="../img/tee/sencha.jpg" alt="Foto Sencha"/></div>
            <div class="home-teaser__text-block">
                <p class="lead">Dann werde ich ihnen "Bio Sencha" aus Shizuoka emphelen. </p>
                <p>Der Grüntee ist sehr gut für das Gesundheit dank ihrer Katekin (Bitterstoff), Vitamin C. Sie möchten gerne für Ihre Gesundheit trinken und dabei sicher sein, der Tee Pestizide frei ist.<br>
                    Jawohl! Dieser Tee ist Bio Qualität und dazu noch sehr aromatisch und wundervoll.  </p>
            </div>
        </article>
        <article class="home-teaser__block">
            <h2 class="home-teaser__title">Maccha ist jetzt hip und trendy? </h2>
            <div class="home-teaser__text-img"><img class="img--block" src="../img/tee/maccha.jpg" alt="Foto Maccha"/></div>
            <div class="home-teaser__text-block">
                <p class="lead">Zuerst probieren Sie Koko no Shiro Nieveau</p>
                <p>Es gibt 2 verschiedene Maccha Klasse. Erste ist Usucha (Dünne Tee in Teezeremonie), andere ist Koicha (Dicke Tee in Teezeremonie). Da diese unterschiedliche Konsistent sind, ist der Tee Karakter auch verschieden. <br>
                    Koicha Qualität ist weniger bitter und sehr aromatisch. Usucha Qualität ist frisch. </p>
            </div>
        </article>

    </main>
<footer class="footer">
    <div class="container">
        <ul class="footer__info text-center text-white"><li  class="footer-info__item">MIYA JAPAN TEE</li><li class="footer-info__item">Döltschihalde 19, CH-8055 Zürich</li><li class="footer-info__item">tel: +41.44.463.10.93</li><li class="footer-info__item"><a href="mailto:mail@miya.ch">Email: mail@miya.ch</a></li> </ul>
    </div>
</footer>
</body>
</html>
