@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*******************************************************************************
** Color
*/
/* Rectangle 2: */
/*******************************************************************************
** img Path
*/
/*******************************************************************************
** functions
*/
/*******************************************************************************
** Mixins
*/
/*******************************************************************************
** Responsiv Breakpoint
*/
/*******************************************************************************
** Fonts
*/
@font-face {
  font-family: 'bariolitalic';
  src: url(../fonts/bariol_regular_italic-webfont.eot);
  src: url(../fonts/bariol_regular_italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/bariol_regular_italic-webfont.woff2) format("woff2"), url(../fonts/bariol_regular_italic-webfont.woff) format("woff"), url(../fonts/bariol_regular_italic-webfont.ttf) format("truetype"), url(../fonts/bariol_regular_italic-webfont.svg#bariolitalic) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bariol_serifregular';
  src: url(../fonts/bariol_serif_regular-webfont.eot);
  src: url(../fonts/bariol_serif_regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/bariol_serif_regular-webfont.woff2) format("woff2"), url(../fonts/bariol_serif_regular-webfont.woff) format("woff"), url(../fonts/bariol_serif_regular-webfont.ttf) format("truetype"), url(../fonts/bariol_serif_regular-webfont.svg#bariol_serifregular) format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

::-webkit-selection {
  background: rgba(206, 48, 49, 0.3);
  color: black;
  text-shadow: none; }

::-moz-selection {
  background: rgba(206, 48, 49, 0.3);
  color: black;
  text-shadow: none; }

::selection {
  background: rgba(206, 48, 49, 0.3);
  color: black;
  text-shadow: none; }

​
body, html {
  -webkit-backface-visibility: hidden;
  margin: 0;
  padding: 0; }

table, button, select, input, textarea,
body {
  color: #000000;
  font-family: "bariol_serifregular", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased; }

.default-btn {
  font-size: 1.0625rem;
  line-height: 1.5rem;
  color: #BB2C2A;
  font-weight: bold;
  padding: 0.5625rem 1.25rem 0.4375rem 1.25rem;
  background: #ffffff;
  border: 2px solid #ffffff; }
  .default-btn:hover {
    border-color: rgba(206, 48, 49, 0.3); }

.page__bg {
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 1; }

.box__link {
  color: #C42E2E;
  border-bottom: 2px solid #C42E2E;
  margin: 1.5rem 0;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .box__link:hover {
    border-bottom: 2px solid #C42E2E;
    text-decoration: none;
    color: #C42E2E;
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }
  .box__link:after {
    content: '->';
    margin-left: 10px; }

.page-bg__item {
  width: 50%;
  height: 50%;
  float: left; }
  @media only screen and (min-width: 768px) {
    .page-bg__item {
      width: 50%;
      height: 49vw; } }
  .page-bg__item:nth-of-type(4n) {
    background: #C42E2E; }
  .page-bg__item:nth-of-type(4n + 1) {
    background: #CE3031; }
  .page-bg__item:nth-of-type(4n + 2) {
    background: #BB2C2A; }
  .page-bg__item:nth-of-type(4n + 3) {
    background: #C02C2E; }

.container {
  position: relative;
  z-index: 2; }

.main {
  position: relative;
  z-index: 2;
  padding: 6.25rem 1.25rem;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) {
    .main {
      padding: 8.125rem 2.5rem;
      max-width: 64rem; }
      .main.main--overview {
        padding-top: 6.25rem; } }

@media only screen and (min-width: 768px) {
  .content {
    max-width: 50rem;
    margin: 0 auto; } }

.content.content--bg-white {
  background: #ffffff;
  max-width: none;
  padding: 1.25rem; }
  @media only screen and (min-width: 768px) {
    .content.content--bg-white {
      padding: 1.875rem; } }

.content.content--bg-green {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  max-width: none;
  padding: 1.25rem; }
  @media only screen and (min-width: 768px) {
    .content.content--bg-green {
      padding: 1.875rem; } }

.title,
.home__title {
  color: white;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: bold;
  font-weight: bold;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 768px) {
    .title,
    .home__title {
      font-size: 2.25rem;
      line-height: 2.625rem; } }

.home-teaser__block {
  margin: 2.5rem auto;
  padding: 0.9375rem 1.25rem;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15); }
  @media only screen and (min-width: 768px) {
    .home-teaser__block {
      margin: 6.25rem auto;
      max-width: 50rem;
      padding: 1.5625rem 1.875rem; } }
  .home-teaser__block:after {
    content: "";
    display: table;
    clear: both; }

.home-teaser__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.25rem; }
  @media only screen and (min-width: 768px) {
    .home-teaser__title {
      font-size: 1.75rem;
      line-height: 2.125rem; } }
  @media only screen and (min-width: 768px) {
    .home-teaser__title {
      margin-bottom: 1.875rem; } }

.subtitle {
  font-size: 1.375rem;
  line-height: 1.625rem;
  margin-bottom: 1.25rem; }
  @media only screen and (min-width: 768px) {
    .subtitle {
      margin-bottom: 1.875rem; } }

.order-success {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  color: #C42E2E; }
  @media only screen and (min-width: 768px) {
    .order-success {
      font-size: 1.75rem;
      line-height: 2.125rem; } }

.lead {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem; }

.home-teaser__text-img {
  float: left;
  border-radius: 18.75rem;
  width: 300px;
  overflow: hidden;
  margin-right: 1.875rem;
  margin-bottom: 1.875rem; }

.img--block {
  width: 100%;
  display: block; }

.footer {
  position: relative;
  z-index: 3;
  padding: 0.625rem 0.9375rem;
  text-align: center; }

.footer__logo {
  padding: 0.625rem 0.9375rem; }

footer .container {
  text-align: center;
  text-shadow: 0 1px 4px black;
  color: #FFFFFF;
  padding: 3rem 1.25rem; }

.footer-logo__text {
  display: inline-block;
  padding-top: 0.6875rem;
  height: 1.875rem; }

.footer__info {
  display: inline-block;
  margin: 0 1.25rem; }

.footer-info__item {
  display: inline-block;
  margin: 0 1.25rem;
  letter-spacing: 0.5px; }

.featured {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  padding: 0 0.3125rem;
  background: rgba(226, 53, 53, 0.9);
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8); }

.detail__content {
  background: #ffffff;
  max-width: none;
  padding: 1.25rem;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .detail__content {
      padding: 1.875rem; }
      .detail__content .featured {
        top: 1.25rem;
        left: 1.25rem; } }
  @media only screen and (min-width: 576px) {
    .detail__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.detail__img-block {
  max-width: 20rem;
  margin: 0 auto 1.875rem auto; }
  @media only screen and (min-width: 576px) {
    .detail__img-block {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 40%;
              flex: 0 0 40%;
      margin-right: 5%; } }

@media only screen and (min-width: 576px) {
  .detail__text-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-left: 5%; } }

.detail__preis {
  margin-top: 1.875rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center; }
  @media only screen and (min-width: 576px) {
    .detail__preis {
      text-align: left; } }

.detail__button {
  background: #C42E2E;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  width: auto;
  display: block;
  border-radius: 1.875rem;
  padding: 0 1.25rem;
  cursor: pointer;
  height: 2.5rem;
  line-height: 2.5rem;
  border: none;
  position: relative;
  /*transform: scale(1);*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 1.875rem auto; }
  @media only screen and (min-width: 576px) {
    .detail__button {
      text-align: left;
      display: inline-block;
      -webkit-transform-origin: left;
              transform-origin: left; } }
  .detail__button:hover, .detail__button:focus {
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3); }
  .detail__button em {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: transform .2s .3s, padding .2s 0s;
    transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
    position: relative;
    display: inline-block; }
  .detail__button:hover em {
    padding-right: 30px; }
    .detail__button:hover em::after {
      opacity: 1; }
  .detail__button em::after {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    content: '';
    height: 24px;
    width: 24px;
    background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }

.detail-button__icon {
  color: #ffffff;
  margin-left: 0.5rem;
  font-size: 1.5rem; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media only screen and (min-width: 576px) {
    .grid {
      width: calc(100% + 10px);
      margin-left: -0.625rem; } }

.grid__item {
  width: 100%;
  background: #ffffff;
  margin: 1rem;
  padding: 1rem 1rem 3.75rem 1rem;
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem; }
  @media only screen and (min-width: 576px) {
    .grid__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(50% - 20px);
              flex: 0 0 calc(50% - 20px);
      margin: 1rem 0.625rem; } }
  @media only screen and (min-width: 768px) {
    .grid__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(33.3% - 20px);
              flex: 0 0 calc(33.3% - 20px); } }

.grid__header {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  padding: 0 0.3125rem;
  background: rgba(226, 53, 53, 0.9);
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8); }

.grid__title a {
  text-decoration: none;
  color: #C42E2E;
  font-size: 1.375rem;
  line-height: 1.625rem; }

.grid__button {
  position: absolute;
  bottom: 0;
  left: calc(100% - 90px); }

.grid__preis {
  margin-top: 1.25rem; }

.grid__text {
  margin-top: 1.5rem; }

.img--circle-mask {
  border-radius: 50%;
  overflow: hidden;
  width: 100%; }

.grid__img-box {
  max-width: 15.625rem;
  max-height: 15.625rem;
  overflow: hidden;
  margin: 0.25rem auto 1.25rem auto; }

.grid__img {
  display: block;
  width: 100%; }

.filternav {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 1rem;
  margin-bottom: 1rem; }

.filternav__title {
  color: #ffffff;
  margin-right: 20px; }

.filternav__item {
  margin-right: 1.5625rem;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.8; }

.filternav__item.checked {
  opacity: 1; }
  .filternav__item.checked:before {
    content: "\F00C";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    margin-right: 0.625rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.message-loader,
.alert-message {
  width: 12.5rem;
  margin: 12.5rem auto;
  text-shadow: 0 1px 4px black;
  color: #ffffff;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  font-weight: bold; }

.message-loader {
  background: url(../img/ajax-loader.gif) top right no-repeat; }

.quantity__input {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
  -moz-appearance: textfield; }

.shipping {
  padding: 1rem 0.625rem 1rem 0.625rem;
  border-bottom: 1px solid rgba(52, 58, 64, 0.5); }

.checkout-content {
  background: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem; }
  .checkout-content:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768px) {
    .checkout-content {
      padding: 1.875rem;
      margin-bottom: 1.875rem; } }
  .checkout-content .product {
    padding: 0.5rem 0.625rem 1rem 0;
    border-bottom: 1px solid rgba(52, 58, 64, 0.5); }
    .checkout-content .product:after {
      content: "";
      display: table;
      clear: both; }
  .checkout-content .product-image {
    display: inline-block;
    float: left;
    /* the image height determines the height of the list item - in this case height = width */
    width: 50px;
    margin-top: 0.5rem; }
    .checkout-content .product-image img {
      display: block;
      width: 100%; }
  .checkout-content .product-details {
    position: relative;
    display: inline-block;
    float: right;
    width: calc( 100% - 50px);
    padding: 0 0 0 1rem; }
    .checkout-content .product-details:after {
      content: "";
      display: table;
      clear: both; }
  .checkout-content .cd-product-title {
    width: 70%;
    float: left;
    /* truncate title with dots if too long */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .checkout-content .price {
    float: right;
    width: 30%;
    text-align: right; }
  .checkout-content .actions {
    font-size: 1.4rem;
    line-height: 1.6rem;
    clear: both;
    padding-top: 10px; }
  .checkout-content .delete-item, .checkout-content .quantity {
    float: right;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.6);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .checkout-content .delete-item:hover, .checkout-content .quantity:hover {
      color: #C42E2E;
      opacity: 1; }
  .checkout-content .checkout {
    color: #ffffff;
    background: #C42E2E;
    padding: 0.625rem 1.25rem;
    border-radius: 1.875rem;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(1);
            transform: scale(1); }
    .checkout-content .checkout:hover {
      -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
    .checkout-content .checkout em {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
      transition: padding .2s 0s, -webkit-transform .2s .3s;
      transition: transform .2s .3s, padding .2s 0s;
      transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
      position: relative;
      display: inline-block; }
    .checkout-content .checkout:hover em {
      padding-right: 30px; }
      .checkout-content .checkout:hover em::after {
        opacity: 1; }
    .checkout-content .checkout em::after {
      position: absolute;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 0;
      content: '';
      height: 24px;
      width: 24px;
      background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
      opacity: 0;
      -webkit-transition: opacity .2s;
      transition: opacity .2s; }

.cd-product-title a {
  color: #000000;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .cd-product-title a:hover {
    color: #C42E2E;
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0); }

.checkout__bottom {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  padding-top: 1.25rem;
  text-align: right; }

.checkout__login {
  color: #C42E2E;
  background: #ffffff;
  border: 2px solid #C42E2E;
  padding: 0.375rem 1rem;
  border-radius: 1.875rem;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 1.25rem; }
  .checkout__login:hover {
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3); }
  .checkout__login em {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: transform .2s .3s, padding .2s 0s;
    transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
    position: relative;
    display: inline-block; }
  .checkout__login:hover em {
    padding-right: 30px; }
    .checkout__login:hover em::after {
      opacity: 1; }
  .checkout__login em::after {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    content: '';
    height: 24px;
    width: 24px;
    background: url(../img/cd-icon-arrow-next-red.svg) no-repeat center center;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }

.icon__cart-plus {
  color: #ffffff;
  border: 0;
  border-radius: 1.875rem;
  background: #C42E2E;
  padding: 0 0.625rem;
  margin: 1.5rem 0;
  font-size: 1.375rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .icon__cart-plus .fa {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    color: #ffffff;
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem; }
  .icon__cart-plus:after {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
    content: '';
    height: 20px;
    width: 20px;
    background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
    opacity: 0;
    -webkit-transition: opacity .3s 0s;
    transition: opacity .3s 0s; }
  .icon__cart-plus:hover, .icon__cart-plus:focus {
    padding-right: 1.875rem;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
    /*transform: scale(1.2);*/ }
    .icon__cart-plus:hover .fa, .icon__cart-plus:focus .fa {
      -webkit-transform: translate3d(60%, 0, 0);
              transform: translate3d(60%, 0, 0); }
    .icon__cart-plus:hover:after, .icon__cart-plus:focus:after {
      opacity: 1;
      -webkit-transition: opacity .3s .1s;
      transition: opacity .3s .1s; }

.home__cart-plus {
  color: white;
  float: right;
  cursor: pointer;
  position: absolute;
  left: calc(100% - 70px);
  top: 0; }
  .home__cart-plus .fa-cart-plus {
    text-align: center; }

.home-teaser__footer {
  position: relative; }

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #C42E2E;
  width: 100%; }

.content__img-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%; }

.content__text-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  padding-left: 1.25rem; }

.order-total {
  text-align: right;
  padding: 1rem 0.625rem;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  font-weight: bold; }

.checkout-btn {
  border: 0;
  color: #ffffff;
  background: #C42E2E;
  padding: 0.625rem 1.25rem;
  line-height: 1.3125rem;
  border-radius: 1.875rem;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1); }
  .checkout-btn:hover {
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .checkout-btn em {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: padding .2s 0s, -webkit-transform .2s .3s;
    transition: transform .2s .3s, padding .2s 0s;
    transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
    position: relative;
    display: inline-block; }
  .checkout-btn:hover em {
    padding-right: 30px; }
    .checkout-btn:hover em::after {
      opacity: 1; }
  .checkout-btn em::after {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    content: '';
    height: 24px;
    width: 24px;
    background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
  .checkout-btn:disabled {
    background: #dddddd; }
    .checkout-btn:disabled:hover {
      -webkit-transform: none;
              transform: none;
      -webkit-box-shadow: none;
              box-shadow: none; }

.required {
  color: #C42E2E; }

.input--text {
  width: 100%;
  border: 1px solid rgba(52, 58, 64, 0.5); }
  @media only screen and (min-width: 768px) {
    .input--text {
      max-width: 18.75rem; } }

.input--text-sml {
  width: 48%;
  border: 1px solid rgba(52, 58, 64, 0.5); }

.order-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.9375rem 0; }
  @media only screen and (min-width: 768px) {
    .order-form label {
      max-width: 25rem; } }

.order-form .label-text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }

.order-form .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.order-form .input--text {
  padding: 0.125rem 0.3125rem; }

.order-form filedset {
  margin-bottom: 2.5rem;
  display: block; }

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  height: 60px;
  background: white;
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15); }

.header__logo {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 15px;
  width: 100%;
  text-align: center; }

.header-logo__img {
  height: 40px;
  display: block;
  position: absolute; }

.header-logo__text {
  display: inline-block;
  padding-top: 11px;
  height: 30px; }

.header__nav {
  position: absolute;
  top: 0;
  right: 0; }

.hamburger {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  height: 40px;
  width: 40px;
  z-index: 1;
  padding-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none; }

.hamburger__trigger {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: -3px;
  right: -3px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
.hamburger__bar1,
.hamburger__bar2 {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  /*
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
	*/ }

.open .hamburger__bar1 {
  -webkit-transform: rotate(45deg) translate(5px, 3px);
          transform: rotate(45deg) translate(5px, 3px); }

.open .hamburger__bar2 {
  -webkit-transform: rotate(-45deg) translate(5px, -3px);
          transform: rotate(-45deg) translate(5px, -3px); }

.collasped .hamburger__bar1 {
  -webkit-transform: rotate(0) translate(0, 0);
          transform: rotate(0) translate(0, 0); }

.collasped .hamburger__bar2 {
  -webkit-transform: rotate(0) translate(0, 0);
          transform: rotate(0) translate(0, 0); }

.menu--open.menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.menu {
  text-align: right; }

.menu__item {
  display: inline-block; }

.menu-item__link {
  font-family: "bariol_serifregular", Arial, sans-serif;
  font-size: 16px;
  line-height: 60px; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-cart-container::before {
  /* dark bg layer visible when the cart is open */
  content: '';
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s, visibility .4s;
  transition: opacity .4s, visibility .4s; }

.cd-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible; }

.cd-cart-container.cart-open {
  z-index: 2000;
  position: relative; }

.cd-cart-trigger,
.cd-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden; }
  .empty .cd-cart-trigger, .empty
  .cd-cart {
    /* hide cart */
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  @media only screen and (min-width: 768px) {
    .cd-cart-trigger,
    .cd-cart {
      bottom: 2.5rem; } }

.cd-cart-trigger {
  /* button that triggers the cart content */
  z-index: 5;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  cursor: pointer; }
  .cd-cart-trigger::after, .cd-cart-trigger::before {
    /* used to create the cart/'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 100%;
    background: url(../img/cd-icons-cart-close.svg) no-repeat 0 0;
    -webkit-transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, -webkit-transform .2s;
    transition: opacity .2s, transform .2s;
    transition: opacity .2s, transform .2s, -webkit-transform .2s; }
  .cd-cart-trigger::after {
    /* 'X' icon */
    background-position: -72px 0;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
            transform: translateX(-50%) translateY(-50%) rotate(90deg); }
  .cart-open .cd-cart-trigger::before {
    opacity: 0; }
  .cart-open .cd-cart-trigger::after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .cd-cart-trigger .count {
    /* number of items indicator */
    position: absolute;
    top: 10px;
    right: 15px;
    height: 28px;
    width: 28px;
    background: #C42E2E;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50%;
    text-indent: 0;
    -webkit-transition: -webkit-transform .2s .5s;
    transition: -webkit-transform .2s .5s;
    transition: transform .2s .5s;
    transition: transform .2s .5s, -webkit-transform .2s .5s;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4); }
    .cd-cart-trigger .count li {
      /* this is the number of items in the cart */
      position: absolute;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
      .cd-cart-trigger .count li:last-of-type {
        visibility: hidden; }
    .cd-cart-trigger .count.update-count li:last-of-type {
      -webkit-animation: cd-qty-enter .15s;
              animation: cd-qty-enter .15s;
      -webkit-animation-direction: forwards;
              animation-direction: forwards; }
    .cd-cart-trigger .count.update-count li:first-of-type {
      -webkit-animation: cd-qty-leave .15s;
              animation: cd-qty-leave .15s;
      -webkit-animation-direction: forwards;
              animation-direction: forwards; }
  .cart-open .cd-cart-trigger .count {
    -webkit-transition: -webkit-transform .2s 0s;
    transition: -webkit-transform .2s 0s;
    transition: transform .2s 0s;
    transition: transform .2s 0s, -webkit-transform .2s 0s;
    -webkit-transform: scale(0);
            transform: scale(0); }
  .empty .cd-cart-trigger .count {
    /* fix bug - when cart is empty, do not animate count */
    -webkit-transform: scale(1);
            transform: scale(1); }
  .cd-cart-trigger:hover + div .wrapper {
    -webkit-box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
            box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3); }
  .cart-open .cd-cart-trigger:hover + div .wrapper {
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17); }

.cd-cart {
  /* cart content */
  z-index: 4;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none; }
  .cd-cart button,
  .cd-cart a {
    cursor: pointer; }
  .cd-cart .wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 6px;
    -webkit-transition: height .4s .1s, width  .4s .1s, -webkit-box-shadow .3s;
    transition: height .4s .1s, width  .4s .1s, -webkit-box-shadow .3s;
    transition: height .4s .1s, width  .4s .1s, box-shadow .3s;
    transition: height .4s .1s, width  .4s .1s, box-shadow .3s, -webkit-box-shadow .3s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
            transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    background: #ffffff;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
    pointer-events: auto; }
  .cd-cart header, .cd-cart footer {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%; }
  .cd-cart header, .cd-cart .body {
    opacity: 0; }
  .cd-cart header {
    top: 0;
    border-radius: 6px 6px 0 0;
    padding: 0 1rem;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    -webkit-transition: opacity .2s 0s;
    transition: opacity .2s 0s;
    border-bottom: 1px solid rgba(206, 48, 49, 0.3); }
    .cd-cart header:after {
      content: "";
      display: table;
      clear: both; }
  .cd-cart footer {
    bottom: 0;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    background: #ffffff; }
  .cd-cart h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1em; }
  .cd-cart .undo {
    float: right;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
    color: tint(#000000, 40%); }
    .cd-cart .undo a {
      text-decoration: underline;
      color: #000000; }
      .cd-cart .undo a:hover {
        color: #C42E2E; }
    .cd-cart .undo.visible {
      opacity: 1;
      visibility: visible; }
  .cd-cart .checkout {
    display: block;
    height: 72px;
    line-height: 72px;
    margin-right: 72px;
    background: #C42E2E;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    -webkit-transition: all .2s 0s;
    transition: all .2s 0s; }
    .cd-cart .checkout em {
      position: relative;
      display: inline-block;
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
      -webkit-transition: -webkit-transform 0s .2s;
      transition: -webkit-transform 0s .2s;
      transition: transform 0s .2s;
      transition: transform 0s .2s, -webkit-transform 0s .2s; }
    .cd-cart .checkout em::after {
      position: absolute;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 0;
      content: '';
      height: 24px;
      width: 24px;
      background: url(../img/cd-icon-arrow-next.svg) no-repeat center center;
      opacity: 0;
      -webkit-transition: opacity .2s;
      transition: opacity .2s; }
  .cd-cart .body {
    position: relative;
    z-index: 1;
    height: calc(400px - 40px);
    padding: 20px 0 10px;
    margin: 40px 0 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
    .cd-cart .body ul {
      overflow: hidden;
      padding: 0 1rem;
      position: relative;
      padding-bottom: 90px; }
    .cd-cart .body li {
      position: relative;
      opacity: 0;
      -webkit-transform: translateX(80px);
              transform: translateX(80px);
      -webkit-transition: opacity 0s .2s, -webkit-transform 0s .2s;
      transition: opacity 0s .2s, -webkit-transform 0s .2s;
      transition: opacity 0s .2s, transform 0s .2s;
      transition: opacity 0s .2s, transform 0s .2s, -webkit-transform 0s .2s; }
      .cd-cart .body li:after {
        content: "";
        display: table;
        clear: both; }
      .cd-cart .body li:not(:last-of-type) {
        margin-bottom: 20px; }
      .cd-cart .body li.deleted {
        /* this class is added to an item when it is removed form the cart */
        position: absolute;
        left: 1rem;
        width: calc(100% - 2em);
        opacity: 0;
        -webkit-animation: cd-item-slide-out .3s forwards;
                animation: cd-item-slide-out .3s forwards; }
        .cd-cart .body li.deleted.undo-deleted {
          /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
          -webkit-animation: cd-item-slide-in .3s forwards;
                  animation: cd-item-slide-in .3s forwards; }
      .cd-cart .body li.deleted + li {
        -webkit-animation: cd-item-move-up-mobile .3s;
                animation: cd-item-move-up-mobile .3s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .cd-cart .body li.undo-deleted + li {
        -webkit-animation: cd-item-move-down-mobile .3s;
                animation: cd-item-move-down-mobile .3s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
  .cd-cart .product-image {
    display: inline-block;
    float: left;
    /* the image height determines the height of the list item - in this case height = width */
    width: 50px;
    margin-top: 0.5rem; }
    .cd-cart .product-image img {
      display: block;
      width: 100%; }
  .cd-cart .product-details {
    position: relative;
    display: inline-block;
    float: right;
    width: calc( 100% - 50px);
    padding: 0 0 0 1rem; }
    .cd-cart .product-details:after {
      content: "";
      display: table;
      clear: both; }
  .cd-cart .cd-product-title {
    width: 70%;
    float: left;
    /* truncate title with dots if too long */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .cd-cart .price {
    float: right;
    width: 30%;
    text-align: right; }
  .cd-cart .actions {
    font-size: 1.4rem;
    line-height: 1.6rem;
    clear: both;
    padding-top: 10px; }
  .cd-cart .delete-item, .cd-cart .quantity {
    float: right;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-cart .delete-item {
    margin-left: 1.5rem;
    opacity: 0.6;
    -webkit-transition: opacity .2s;
    transition: opacity .2s; }
    .cd-cart .delete-item:hover {
      color: #C42E2E;
      opacity: 1; }
  .cd-cart .quantity label {
    display: inline-block;
    margin-right: .3rem;
    font-size: 1rem; }
  .cd-cart .quantity__input {
    width: 35px;
    font-size: 0.875rem;
    padding: 0 5px; }
  .cd-cart .select {
    position: relative; }
  .cd-cart .select::after {
    /* switcher arrow for select element */
    content: '';
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/cd-icon-select.svg) no-repeat center center;
    pointer-events: none; }
  .cd-cart select {
    position: relative;
    padding: 0 1em 0 0;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    margin: 0;
    color: tint(#000000, 40%); }
    .cd-cart select:focus {
      outline: none;
      color: #000000;
      -webkit-box-shadow: 0 1px 0 currentColor;
              box-shadow: 0 1px 0 currentColor; }
  .cd-cart select::-ms-expand {
    /* hide default select arrow on IE */
    display: none; }
  .cart-open .cd-cart .wrapper {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .cart-open .cd-cart header,
  .cart-open .cd-cart .body {
    opacity: 1; }
  .cart-open .cd-cart header {
    -webkit-transition: opacity .2s .2s;
    transition: opacity .2s .2s; }
  .cart-open .cd-cart .body {
    -webkit-transition: opacity 0s;
    transition: opacity 0s; }
    .cart-open .cd-cart .body li {
      -webkit-transition: opacity .3s .2s, -webkit-transform .3s .2s;
      transition: opacity .3s .2s, -webkit-transform .3s .2s;
      transition: transform .3s .2s, opacity .3s .2s;
      transition: transform .3s .2s, opacity .3s .2s, -webkit-transform .3s .2s;
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
      .cart-open .cd-cart .body li:nth-of-type(2) {
        -webkit-transition-duration: .4s;
                transition-duration: .4s; }
      .cart-open .cd-cart .body li:nth-of-type(3) {
        -webkit-transition-duration: .5s;
                transition-duration: .5s; }
      .cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
        -webkit-transition-duration: .55s;
                transition-duration: .55s; }
  .cart-open .cd-cart .checkout {
    color: #ffffff;
    -webkit-transition: color .2s .3s;
    transition: color .2s .3s; }
    .cart-open .cd-cart .checkout em {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
      transition: padding .2s 0s, -webkit-transform .2s .3s;
      transition: transform .2s .3s, padding .2s 0s;
      transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s; }
    .cart-open .cd-cart .checkout:hover em {
      padding-right: 30px; }
      .cart-open .cd-cart .checkout:hover em::after {
        opacity: 1; }
  @media only screen and (min-width: 768px) {
    .cd-cart .body li:not(:last-of-type) {
      margin-bottom: 14px; }
    .cd-cart .body li.deleted + li {
      -webkit-animation: cd-item-move-up .3s;
              animation: cd-item-move-up .3s; }
    .cd-cart .body li.undo-deleted + li {
      -webkit-animation: cd-item-move-down .3s;
              animation: cd-item-move-down .3s; }
    .cd-cart .checkout {
      font-size: 1.4rem; }
    .cd-cart .product-image {
      width: 90px; }
    .cd-cart .product-details {
      padding: 0 0 0 1rem;
      width: calc( 100% - 90px); } }

@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); } }

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0); }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); } }

@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%); } }

@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%); } }

@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px; }
  100% {
    padding-top: 0px; } }

@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@keyframes cd-item-move-up {
  0% {
    padding-top: 104px; }
  100% {
    padding-top: 0px; } }

@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 70px; } }

@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@keyframes cd-item-move-down {
  0% {
    padding-top: 0px; }
  100% {
    padding-top: 104px; } }

@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0; } }

@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0; } }

@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  0% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0; } }

.quantity-pill {
  border: 1px solid #BB2C2A;
  border-radius: 10px;
  height: 30px;
  float: left;
  overflow: hidden;
  margin-right: 10px; }
  .quantity-pill__left, .quantity-pill__center, .quantity-pill__right {
    width: 40px;
    height: 30px;
    float: left;
    text-align: center;
    border: none;
    font-size: 14px;
    line-height: 30px; }
  .quantity-pill__right, .quantity-pill__left {
    color: #C42E2E;
    padding: 0;
    background: #ffffff;
    cursor: pointer; }
    .quantity-pill__right:hover, .quantity-pill__left:hover {
      background: #C42E2E;
      color: #ffffff; }

.cd-cart .delete-item {
  font-size: 20px;
  line-height: 30px;
  width: 40px;
  height: 30px;
  display: inline-block;
  text-align: right; }

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(52, 58, 64, 0.95); }
  @media only screen and (min-width: 768px) {
    .navbar {
      padding: 0.5rem 2.5rem; } }

.navbar > .container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.navbar a {
  color: #FFF;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }

.navbar-brand:focus, .navbar-brand:hover {
  text-decoration: none; }

.navbar-nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: auto;
  list-style: none; }

.nav-link {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block; }
  .nav-link a {
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.nav-item.active .nav-link,
.nav-link:hover {
  color: #C42E2E;
  text-shadow: 0 1px 4px black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .nav-item.active .nav-link,
    .nav-link:hover {
      text-transform: none;
      -webkit-transform: translate3d(0, -3px, 0);
              transform: translate3d(0, -3px, 0); } }

.nav-item.active .user-item__link,
.user-item__link:hover {
  color: #C42E2E;
  text-shadow: 0 1px 4px black;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    .nav-item.active .user-item__link,
    .user-item__link:hover {
      text-transform: none;
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0); } }

.navbar-collapse.show .nav-item {
  border-top: 1px solid #C42E2E; }
  @media only screen and (min-width: 768px) {
    .navbar-collapse.show .nav-item {
      border-top: 0; } }

.navbar-collapse.show .navbar-nav {
  margin-top: 0.625rem; }
  @media only screen and (min-width: 768px) {
    .navbar-collapse.show .navbar-nav {
      margin-top: 0; } }

.navbar .nav-item.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media only screen and (min-width: 768px) {
  .navbar .user__item {
    border-top: 0; } }

@media only screen and (min-width: 768px) {
  .navbar .user-profile__name {
    font-size: 0.75rem; } }

.navbar .user-item__link {
  padding: 0.5rem 0;
  display: inline-block;
  border-bottom: 1px solid #C42E2E;
  display: inline-block;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .navbar .user-item__link {
      width: auto;
      font-size: 0.75rem;
      padding: 0.25rem 0; } }

.navbar .user-profile__img {
  vertical-align: middle;
  margin: 0.9375rem 0.9375rem 0 0; }
  @media only screen and (min-width: 768px) {
    .navbar .user-profile__img {
      margin: 0.5rem 0 0 0.5rem;
      float: none; } }

.navbar .nav-item__user {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .navbar .nav-item__user {
      width: auto;
      position: absolute;
      top: 3.4375rem;
      padding: 0 0.625rem;
      right: -1.25rem;
      -webkit-box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15);
              box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15);
      background: rgba(52, 58, 64, 0.95); }
      .navbar .nav-item__user:before {
        content: '';
        position: absolute;
        top: -10px;
        right: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent rgba(52, 58, 64, 0.95) transparent; } }

.collapse {
  display: none; }

.collapse.show {
  display: block; }

.navbar-nav .dropdown-menu {
  position: static;
  float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center; }

.navbar-toggler {
  background: transparent;
  position: absolute;
  top: -0.5rem;
  right: 0;
  border: none;
  padding: 1rem 1rem 0.5rem 0.75rem;
  margin: 0 -1rem 0 0;
  cursor: pointer; }

@media only screen and (min-width: 768px) {
  .navbar {
    -ms-flex-flow: row nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row nowrap;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start; }
  .navbar .navbar-nav {
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
  .navbar .navbar-nav .dropdown-menu {
    position: absolute; }
  .navbar .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto; }
  .navbar .navbar-nav .nav-link {
    line-height: 1.5rem;
    padding: 0.5rem; }
  .navbar > .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar .navbar-collapse {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar .navbar-toggler {
    display: none; }
  .navbar .dropup .dropdown-menu {
    top: auto;
    bottom: 100%; } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJhc3NldHMvY3NzL21haW4uY3NzIiwic291cmNlUm9vdCI6IiJ9*/